﻿#MainDiv
{
    position: relative;
    width:800px;
}

#child .NextButton
{
    position: absolute;
    top: 50%;
    right: 2%;
}

#child .PreButton
{
    position: absolute;
    top: 50%;
    left: 2%;
}

#Next
{
    opacity: 0.4;
    filter: alpha(opacity=20);
}

    #Next:hover
    {
        cursor: pointer;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

#Previous
{
    opacity: 0.4;
    filter: alpha(opacity=20);
}

    #Previous:hover
    {
        cursor: pointer;
        opacity: 0.8;
        filter: alpha(opacity=80);
    }
 
#slider
{
    width: 800px;
    overflow: hidden;
    position: relative;
}

    #slider .slides
    {
        display: block;
        width: 8000px;
        margin: 0;
        padding: 0;
    }

    #slider .slide
    {
        float: left;
        list-style-type: none;
        height:120px;
    }
.selectedImage
{
    border:2px solid Red;
}