/*global Css*/
.center{
    text-align: center;
}
.white{
    color: white !important;
}
.justify{
    text-align: justify;
}
/*start star-line*/
.star-line{
    background: #fff;
    height: 5px;
    width: 90px;
}
.star-underline {
    margin: 12px 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.star-underline .line {
    background: #ffffff;
    height: 5px;
    width: 90px;
}
.star-underline .star-icon>img {
    padding: 5px;
    width: 40px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.star-underline .blue-line {
    background: #0d4778;
    height: 5px;
    width: 90px;
}
.star-underline .blue-star-icon>img {
    padding: 5px;
    width: 40px;
}
/*end star-line*/



/*End global css*/

/*start header part*/
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
.navbarbox .navbar-brand {
    display: flex;
    align-items: center;
    /*padding: 40% 82%;*/
    font-size: x-large;
    font-weight: 700;
    margin-left: 38px;
    margin-top: 6px;
}
.navbarbox .navbar-brand>img {
    padding: 7px 14px;
}
.navbarbox{
    width:100%;
}
.navbar-background{
    background-color: #264357;
}

.padding-content{
    padding: 9px 40px;
    font-size: 136%;
}
.fz{
    font-size: 15px;
}
/*end header part*/

/*start profile part*/
.profile-section{
    height: 34em;
    background-color: #55ceab;
}
.profile-top{
    margin-top: 4%;
    height: 13em;
}
.border{
    border: 3px solid white;
    margin-top: 14px;

}


.icon-star{
    text-align: -webkit-center;
}
.left-line{
    margin-left: 8px;
    margin-right: -15px;
}
.width-star{
    margin-left: 40%;
}

/*end profile part*/


/*start photo section*/
.pf-img{
    height: 21em;
    width: 100% !important;
}
.m-top{
    margin-top: 21px;
}

/*end photo section*/

/*start about part*/
.bgd-clr{
    background-color: #55ceab;
}
.download-btn{
    background-color: #55ceab;
    border-color: white;
}

.download-btn:active:hover{
    color: #fff;
    background-color: #45caa4 !important;
    border-color: #45caa4 !important;
}
.download-btn:hover{
    color: #fff;
    background-color: #45caa4 !important;
    border-color: #45caa4 !important;
}
.abt-top{
    padding: 42px;
}
/*end about part*/

/*start contact part*/

.contact-redius{
    width: 100%;
    border-right: none;
    border-left: none;
    height: 57px;
}
.contact-textarea{
    width: 100%;
    border-right: none;
    border-left: none;
}
.border-top{
    border-top: none;
}
.top-clr{
    border: 1px solid #eaeae8;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.top-textarea{
    border: 1px solid #eaeae8;
    border-left: none;
    border-right: none;
}
.size-width{
    padding: 27px 230px;
}

/*end contact part*/

/*start footer section*/

.footer-bgd{
    background-color: #2e3c56;
    color: white;
    padding: 45px 8px;
}
.icons-size{
    height: 44px;
    border: 2px solid;
    border-radius: 22px;
    padding: 8px;
}
.icon-font{
    font-size: 38px;
}
.copywrite{
    background-color: #041a42;
    color: white;
    padding: 12px 0px 1px;
}
/*end footer section*/