<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
     .list_data{
        list-style-type: none;
        background-color: aliceblue;
    }
    .f_icon{
        color: #e13e00;
        float: right;
    }
    .edit-icon{

        color:#1746af;
        float: right;
        padding: 0px 10px;
    }
     .main {

         display:none;
     }
     .listitem_1 {
         display:none;
     }
</style>
<body>
    <div ng-style="data_ul"  ng-app="cart_app" class="container" ng-controller="cart-ctrl">
        <h3>Add data in to Array list</h3>
        <input type="text" ng-model="input_text" ng-style="input_text2">
        <button ng-click="addData()" class="btn btn-primary">add</button>
        <ul ng-class="class_data()"  class="list-group">
            <li  class="list-group-item" ng-repeat="x in arrycart" ng-hide="arrydata">
                <span  id="dataidw3" >{{x}} </span>
                <span ng-click="removedata($index)">
                 <i class="fa fa-trash" ng-class="icondel()" aria-hidden="true"></i>
                </span>
                <i id="dataid2" ng-click="hiddenDiv = !hiddenDiv; hidedata() "    ng-class="iconedt()" class="fa fa-pencil-square-o"></i>
                <div  ><input ng-show="hiddenDiv"   type="text" value="{{x}}" ></div>
            </li>
        </ul>
    </div>

</body>
</html>
<script src="angular.js"></script>
<script src="cart.js"></script>