<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>-->
</head>
<style type="text/css">

    .theaddata{
        display: none;
    }

</style>
<body >

    <div ng-app="myapp"  ng-controller="myctr">
        <select ng-model="clr">
            <option>Select Color</option>
            <option>Red</option>
            <option>Green</option>
            <option>Blue</option>
            <option>orange</option>
        </select>
        <input type="text" class="color-data"  style=" background-color: {{clr}}">
        <input type="text" style='color: white; background-color: {{clr}};' value="Color Name:{{clr}}">
        <div>
            <select ng-model="qyt">
                <option>Select Color</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>8</option>
            </select>
            <select ng-model="cst">
                <option>Select Color</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>8</option>
            </select>
            <button ng-click="myFunc()">click</button>
            <br>
            <input type="text" ng-model="textmsg">
            <button ng-click ="text()">click</button>
            <p><b>Summation:</b> {{result | currency:"&#8377;"}}</p>
            <p><b>Message:</b> {{msg}}</p>
            <p ng-model="append_data"></p>
        </div>
    </div>


    <div ng-app="myapp2" ng-controller="form_ctrl">
        Frist Name :
        <input type="text" ng-model="information.f_name">
        Last Name :
        <input type="text" ng-model="information.l_name">
        <button ng-click="dataget()">reset</button>
        <button ng-click="addobj()">add</button>
        <p>First Name : {{information}}</p>
        <p>objdata Name : {{objdata}}</p>
        <p>addobj data Name : {{addobjdata}}</p>

    </div>

    <div ng-app="filterapp" ng-controller="filter-ctrl">
        <h3>Find the data usig filter concept</h3>
        <input type="text" ng-model="find_data">

        <ul>
            <li ng-repeat="x in arrayData | filter:find_data">
                {{ x }}
            </li>
        </ul>
    </div>


    <div ng-app="sorted_filter" ng-controller="sorted_data">
        <table  border="1" width="100%">
            <tr>
                <th ng-click="orderbydata('name')">Name</th>
                <th ng-click="orderbydata('country')">Country</th>
            </tr>
            <tr ng-repeat="y in arraylist | orderBy:getOrderlist">
                <td>{{y.name}}</td>
                <td>{{y.country}}</td>
            </tr>
        </table>
    </div>

    <div ng-app="filter_custom" ng-controller="custom_filter_ctrl">
        <ul>
            <li ng-repeat=" x in arraycustom">
                {{x | mycustomformate}}
            </li>
        </ul>
    </div>

    <div ng-app="abturl" ng-controller="url_ctrl">
        <h3>Geting Current page url</h3>
        <button ng-click="geturllink()">Get Link</button>
        {{geturl}}
    </div>

    <div ng-app="set_time" ng-controller="Text_change">
        <h3>change the text</h3>
        <h2>{{mytext}}</h2>
    </div>


    <div ng-app="http_service" ng-controller="service_get">
        <h5>{{mydatapage}}</h5>
    </div>

    <div ng-app="dataJson" ng-controller="json_file">
        <h3>Geting the data from the json file</h3>
        <button ng-click="msgdata()">ok</button>
        <!--<ul>
            <li ng-repeat="x in myjsondata">
                {{x.Name}}
            </li>
        </ul>-->
        <ul>
            <li ng-repeat="x in myjsondata">
                {{ x.Name + ', ' + x.City }}

            </li>
        </ul>

    </div>

    <div ng-app="tabledata" ng-controller="table_ctrl">

    <table border="1">
        <tr>
            <th>Index</th>
            <th ng-click="orderdata('Name')">Name</th>
            <th>City</th>
            <th>Country</th>
        </tr>
        <tr ng-repeat="x in gettabledata | orderBy:sortedData:reverse" ng-init="even = true odd:true" >
            <td >{{ $index + 1 }}</td>
            <td ng-if="$odd"  >{{x.Name}}</td>
            <td ng-if="$even" style="background-color:yellow" >{{x.Name}}</td>
            <td ng-if="$odd"  >{{x.City}}</td>
            <td ng-if="$even" style="background-color:yellow">{{x.City}}</td>
            <td ng-if="$odd"  >{{x.Country}}</td>
            <td ng-if="$even" style="background-color:yellow">{{x.Country}}</td>
        </tr>
    </table>
        <button ng-click="gettable()">ok</button>
        <button ng-click="orderdata('Name')">orderdata</button>
    </div>

    <div ng-app="option_drp" ng-controller="dropdown_array">
        <h3>Creating Drop-down menu using Array</h3>
        <select ng-model="selectedName" ng-options="x for x in dataArryDynamic"  >

        </select>
    </div>



</body>
</html>
<script src="demo.js" ></script>
<script src="modulelist.js" ></script>
