/*global css*/
.center{
    text-align: center;
}
.blue-light{
    background-color: #ecfffe;
}
.btn-primary{
    font-size: 20px;
    padding: 2px 14px 3px;
}
.btn-danger{
    font-size: 20px;
    padding: 2px 14px 3px;
}
.btn-info{
    font-size: 20px;
    padding: 2px 14px 3px;
}
.light-red{
    background-color: #ffbbbb;
}
.dark-light-red{
    background-color: #ffa6b3;
}
.light-blue{
    background-color: #9fb9ff;
}
.white{
    color: #ffff;
}
.dark-light-blue{
    background-color: #88a2e7;
}
.light-orange{
    background-color: #ffc5a5;
}
.fa-rupee{
    font-size: 26px;
}
.dark-light-orange{
    background-color: #ffe3d4;
}
.light-pink{
    background-color: #edcdff;
}
.dark-light-pink{
    background-color:#d384ff;
}
.magento{
    background-color: #7f90ff;
}
.light-red2{
    background-color: #ff9f9f;
}
.light-green{
    background-color: #daffb7;
}
.dark-light-green{
    background-color: #83ff6ac7;
}
.light-yellow{
    background-color: #f3ff89;
}
.light-pink2{
    background-color: #fbc7c7;
}
.light-org{
    background-color: #ffd6a6;
}
.sky-blue{
    background-color: #ebffff;
}
.lgt-color{
    background-color: #ceffff;
}
.call-fun-back{
    background-color: #fbfff0;
}
.clo-color{
    background-color: #35ffbb;
}
.clo-clr{
    background-color: #feff35;
}
.clo-position{
    margin: 2px 5px 18px;
}
.rpc-str{
    background-color: #4fa7ff;
}
.rpc-str-red{
    background-color: #ff9696;
}
.clr-arr{
    background-color: #ffd3b4e6;
}
.list-array{
    background-color: #bed6ff;
}
.form{
    width: 29%;
    height: 34px;
}
.ajs-ok {
    background-color: #a1bfff;
    border: 1px solid #a1bfff;
}
.ajs-header {
    background-color: #ffc6c6 !important;
}
.list-array-unshift{
    background-color: #fff0ad;
}
.sort-clr{
    background-color: #ffd7a1;
}
.blue-sort{
    background-color: #e6e4ff;
}
.red-for{
    background-color: #ffe9e9;
}
.in-br {
    background-color: #d657009c;
}
.btn-success{
    font-size: 20px;
    padding: 2px 14px 3px;
}
.success-msg {
    color: #1b9b70;
}
.war-msg{
    color: #e75f34;
}
.fa-surprise{
    font-size: 64px;
    background-color: #FFEB3B;
    border-radius: 33px
}
.fa-smile{
    font-size: 64px;
    background-color: #FFEB3B;
    border-radius: 33px
}
.clr-class{
    height: 120px;
    width: 22em;
    border: 1px solid black;
}
