<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filter</title>
</head>
<body>
    <div ng-app="search-app" ng-controller="search_ctrl">
        <input type="text"  ng-model="searchString">
        <button>search</button>

       <!-- <div class="bar">
            &lt;!&ndash; Create a binding between the searchString model and the text field &ndash;&gt;
            <input type="text" ng-model="searchString" placeholder="Enter your search terms" />
        </div>-->
        <ul>
            <li ng-repeat="i in arrayList | searchFor:searchString">
                <a href="{{i.url}}"><img ng-src="{{i.image}}" /></a>

            </li>
        </ul>
    </div>

</body>
</html>
<Script src="angular.js"></Script>
<Script src="search.js"></Script>