/*
th, td, p, input {
    font:14px Verdana;
}
table, th, td
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
th {
    font-weight:bold;
}

*/
#padination{
    float: right;
    /*margin-top: -45px;*/
}

.crt-tbl{
    border-radius: 10px;
    height: 45px;
    width: 150px;
    text-align: center;
    background-color: #5499C7;
    font-size: 15px;
    color: #ffffff;
}
.page-length{
    height: 35px;
    font-size: 15px;
}
.pageno{
    text-align: center;
    background-color: #5499C7;
    font-size: 15px;
}
input{
    height: 35px;
    font-size: 15px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: center;
    padding: 15px;
    font-size: 20px;
}
th {
    background-color: #5499C7;
    color: white;
    font-size: 35px;
}
.none{
    display: none;
}