

.crt-tbl{
  /*  margin-top: 50px;*/
    margin-left: 134px;
    margin-right: 13px;
  /*  margin-left: 52%;*/
}
.space{
    margin-bottom: 10px;
    margin-top: -10px;
}
.entries{
   /* padding: 5px 96px;
    margin-left: -100px;*/
    padding: 4px 149px;
    margin-left: -158px;
}
.left-show{
    margin-left: 52px;
}
.page-bottom{
    margin-bottom: 10px;
    margin-top: -17px;
}
.mar-bottom{
    margin-bottom: 1px;
}
.ser-btn{
    margin-left: 329px;
}
.font-fm{
    font-family: serif;
}
.center{
    text-align: center;
}
.border-div{
    border: 1px solid;
    border-radius: 17px;
    margin-top: 38px;
}
.top-text{
    margin-bottom: 34px;
}
.btn-margin{
    margin-bottom: 20px;
    margin-top: 9px;
}
.page-length{
    margin-left: 10%
}
th{
    /*background-color: #b5b5ff;*/
    background-color: #9191ff;
    color: white;
}
.txtpage{
    height: 33px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.First-page{
    /*background-color: #ffbfbf;*/
    background-color: #ff8989;
    color: white;
}
.last-page{
    /*background-color: #ffbfbf;*/
    background-color: #ff8989;
    color: white;
}
.next-btn{
   /* background-color: #b5b5ff;*/
    background-color: #9d9df7;
    color: white;
}
.prev-btn{
   /* background-color: #b5b5ff;*/
    background-color: #9d9df7;
    color: white;
}
.length-data{
    height: 25px !important;
    padding: 3px 12px !important;
}
.form{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-btn{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #9191ff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}