.container{
    /*width: auto;*/
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: #264357;
    color: #fff;
}
.mob-view{
    padding: 0px;
}

/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}
.main-content{
    background-color: #55ceab;
    color: #fff;

}
.r-img{
    width: 100%;
    height: 31em;
    margin: auto;
    overflow: hidden;
}
.about-dwn{
    width: 100%;
    height: 31em;
    margin: auto;
    overflow: hidden;
}
/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width: 100%;
        /* padding: 10px 18px; */
        padding: -6px 59px;
        margin-top: -24px;
        margin-bottom: 47px;
        /* height: 32px; */
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 3px;
        background: #264357;
    }
    .container{

    }
}

.menu ul {
    display:inline-block;
    float: right;
    margin-top: -12px;
}

.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.menu li:last-child {
    margin-right:0px;
}

.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#fff;
    transition:color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#ffffff;
}



/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}

@media screen and (max-width: 860px) {
    .menu {
        position:relative;
        display:inline-block;
        float: right;
        padding: 10px 32px;
    }

    .menu ul.active {
        display:none;
    }

    .menu ul {
        width:auto;
        position:absolute;
        top:69%;
        display: none;
        left:-32px;
        padding:10px 18px;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#303030;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        left:87px;
        content:'';
        transform:translate(0%, -100%);
        border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;
    }

    .menu li {
        margin:5px 0px 5px 0px;
        float:none;
        display:block;
    }

    .menu a {
        display:block;
    }

    .toggle-nav {
        /*padding:20px;*/
        padding: 15px;
        float:left;
        display:inline-block;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#55ceab;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        /*font-size:20px;*/
        font-size: 15px;
        margin-top: -71px;
        transition:color linear 0.15s;
    }

    .toggle-nav:hover, .toggle-nav.active {
        text-decoration:none;
        color:#66a992;
    }

    .search-form {
        margin:12px 0px 0px 20px;
        float:left;
    }

    .search-form input {
        box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
    }
}
.none{
    display: none;
}
.center{
    text-align: center;
}
.desk{
    display: block;
}
.desk ul{
    display: block;
}
.brtag{
    display: block;
}
.mob-abt{
    display: block;
}
.mob-ftr{
    display: block;
}
@media screen and (min-width: 452px) and (min-width: 838px)
{
    .desk{
        display: none;
    }
    .desk ul{
        display: none;
    }
    .brtag{
        display: none;
    }
    .mob-abt{
        margin-left: 0%  ;
        margin-right: 0%  ;
        text-align: justify;
    }
    .mob-ftr{
        display: none;
    }
}
.profile-img{
    margin-top: 52px;
    height: 40%;
}
.list-img{
    height: 106px;
}
img-mid{
    width: 59% !important;
    height: 188px !important;
}
.img-grid{
    margin-left: 18px;
}
.img-grid-3{
    margin-left: 37px;
}
.img-first{
    width: 86%;
    margin-left: 73px;
}
.about-containt{
    margin-left: 47%;
    margin-right: 24px;
    text-align: justify;
}
.about-right{
    margin-left: 1%;
    margin-right: 45%;
    text-align: justify;
}
.about-height{
    height:auto;
}
.btn-dawanload{
    color: #fff;
    background-color: #55ceab;
    border-color: #ffffff;
}
.about-containt {
    display: block !important;
}
@media only screen  and (min-width: 525px) {
    .about-containt {
        display: none;
    }
}
.abt-data{
    width: inherit;
    float: right;
    width: 50%;
}
.abt-data-right{
    width: inherit;

}
.contact-box{
    border-left: none;
    border-right: none;
    width: 100%;
    height: 65px;
    border-color: #cecdce;
    border-bottom-width: 1PX;
    border-top-width: 1px;
    border-top-color: #ffffff;
}
.email-top{
    border-top: none;
    border-bottom-width: 1PX;
}
.contact-width{
    width: 76%;
    left: 13%;
}
.textarea-height{
    line-height: 46px;
    height: auto;
}
.send-btn{
    background-color: #55ceab;
    border-color: #55ceab;
}
.send-btn:hover{

    color: #fff;
    background-color: #63ebc3;
    border-color: #55ceab;
}
.send-btn:active:hover{
    color: #fff;
    background-color: #35e9b5;
    border-color: #35e9b5;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
    color: #fff;
    background-color: #35e9b5;
    border-color: #35e9b5;
}
.btn-primary.focus, .btn-primary:focus{
    color: #fff;
    background-color: #35e9b5;
    border-color: #35e9b5;
}
.main-footer{
    /*background-color: #072d71;
    color: white;*/

    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2e3c56;
    color: white;
    text-align: center;
}
.container1 {
    display: flex;
    text-align: center;
}
.container1 > div {
    flex: 1; /*grow*/
}
.social-icon{
    font-size: 22px;
    border: 2px solid;
    height: 48px;
    padding: 7px;
    border-radius: 29px;
}
.icon{
    font-size: 34px;
    margin-right: 21%;
}
.footer-div{
   /* position:  ;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #041a42;
    height: 30px;
    color: white;
    text-align: center;
}


.top-grid{
    margin-top: 19px;
}
.alignment-data{
    margin-left: 32%;
    margin-right: 50px;
    text-align: justify;
}
@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }

    .mob-alignment-data{
        width: 200%;
        margin-left: 0%;
    }
    .mob-inline{
        width: 100%;
    }
    .right-abt{
        margin-left: 0%;
        margin-right: 0%;
        text-align: justify;
        margin-top: 38%;
    }
    div.inline {
        float:left;
        width: 100%;
    }
}
@media (min-width: 601px){
    .w3-col.m1 {
        width: 32.33333% !important;
    }
}
.right-abt{
    display: block;
}
.mob-inline-right{
    display: block;
}
@media only screen and  (max-width: 599px) {
    .mob-grid{
        width: 100%;
        margin-left: 0px;
        margin-top: 11px;
    }
    .mob-alignment-data{
        width: 200%;
        margin-left: 0%;
    }
    .right-abt{
        margin-left: 0%;
        margin-right: 0%;
        text-align: justify;
        margin-top: 38%;
    }
    .mob-inline-right{
        width: 144%;
    }
    .mob-inline{
        width: 100%;
    }
    div.inline {
        float:left;
        width: 100%;
    }
}
@media screen and  (min-width: 425px) {
    div.inline {
        float:left;
        width: 100%;
    }
    .mob-inline-right{
        width: 144%;
    }
}

.alignment-data-right{
    margin-left: 5%;
    margin-right: 220px;
    text-align: justify;

}


div.inline {
    float:left;
    width: 50%;
}
.clearBoth { clear:both; }


/*about css*/


h2 {
    font-size: 2.5em;
    font-weight: 700;
    word-break: keep-all;
}

p {
    text-algin:left;
    font-size: 1em;
    font-weight: 300;
}

p.justify {
    text-align: justify;
}

h2, p {
    text-align: left;
}

.wrapper {
    padding: 1em;
    min-width: 17.5em;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.wrap-abt{
    max-width: 50%;
    float: left;
    margin-left: -14px;
}
.wrap-abt2{
    max-width: 50%;
    float: right;
    margin-right: -13px;
}


html {
    font-size: 100%;
}

.contact-size{
    margin: 37px 20% 2% 20%;
}
.location-width{
    margin-left: 3%;
}


.star-line{
    background: #fff;
    height: 5px;
    width: 90px;
}
.star-underline {
    margin: 12px 42%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.star-underline .line {
    background: #ffffff;
    height: 5px;
    width: 90px;
}
.star-underline .star-icon>img {
    padding: 5px;
    width: 40px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.star-underline .blue-line {
    background: #0d4778;
    height: 5px;
    width: 90px;
}
.star-underline .blue-star-icon>img {
    padding: 5px;
    width: 40px;
}