<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div ng-app="table_App" ng-controller="table_ctrl">
       <!-- <table border="1">
            <tr>
                <th ng-repeat="(key, val) in myArray[0]">{{ key }}</th>
            </tr>
            <tr ng-repeat="row in myArray">
                <td ng-repeat="column in row">
                    {{ column }}
                </td>
            </tr>
        </table>-->
        <table border="1">
            <tr>
                <th ng-repeat="(k,v) in myArray[0]">{{k}}</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="rowdata in myArray">
                <td ng-repeat="columndata in rowdata" >
                    <div ng-hide = 'myVar'>
                        {{columndata }}
                    </div>
                    <div  ><input ng-show="hiddenDiv"   type="text" value="{{rowdata[$index]}}"  ></div>
                </td>
                <td>
                    <span ng-click="removedata($index)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                    <i id="dataid2" ng-click="hiddenDiv = !hiddenDiv; hidedata() " ng-init="myVar = true"   ng-class="iconedt()" class="fa fa-pencil-square-o"></i>

                </td>
            </tr>
        </table>
    </div>

</body>
</html>
<script src="angular.js"></script>
<script src="table.js"></script>

