<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Task In Angular</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>-->
</head>
<style type="text/css">
    hr{
        height: 1px;
        margin-top: 17px;
        margin-bottom: 28px;
        background-color: black;
    }
</style>
<body>
    <!--<div>
        <p>  <input type="checkbox" ng-model="mySwitch"/>The term&condition is true.
        </p>
        <p> <button ng-show="mySwitch">Submit</button>
        </p>
    </div>-->
    <div ng-app="option_drp" ng-controller="dropdown_array">
        <h3>Creating Drop-down menu using Array</h3>
        <select ng-model="selectedName" ng-options="x for x in dataArryDynamic">
        </select>
    </div>
    <hr>
    <div ng-app="http_service" ng-controller="service_get">
        <h2>{{mydatapage}}</h2>
    </div>
    <hr>
    <div ng-app="sorted_filter" ng-controller="sorted_data">
        <table  border="1" width="100%">
            <tr>
                <th ng-click="orderbydata('name')">Name</th>
                <th ng-click="orderbydata('country')">Country</th>
            </tr>
            <tr ng-repeat="y in arraylist | orderBy:getOrderlist">
                <td>{{y.name}}</td>
                <td>{{y.country}}</td>
            </tr>
        </table>
    </div>
    <hr>
    <div ng-app="myApp" ng-controller="myCtrl">
        <h1 ng-mousemove="count = count + 1">Mouse Over Me!</h1>
        <h2>{{ count }}</h2>
    </div>
    <hr>
    <div ng-app="counter_app" ng-controller="counter_ctrl">
        <button ng-click="countfunc()" >count</button>
        <h3>{{countVal}}</h3>
    </div>
    <div ng-app="show_menu_app" ng-controller="show_menu_data">
        <button ng-click="getmenu()">get Details</button>
            <ul ng-show="data_menu">
                <h2>Menu:</h2>
                <li>Vadapav</li>
                <li>Idli</li>
                <li>Samosa</li>
            </ul>
    </div>
    <hr>

    <div ng-app="mousemove" ng-controller="mouse_ctrl">

        <h2 ng-mousemove="coordinate($event)">Move pointer here...</h2>
        <h1>coordinate point value : {{x + ', ' + y}}</h1>
    </div>
    <hr>
    <div ng-app="radio_app" ng-controller="radio_ctrl">
        <form>
            <input type="radio" ng-model="myvalue" value="javascript">Javascript
            <input type="radio" ng-model="myvalue" value="angular">Angular
            <input type="radio" ng-model="myvalue" value="html">HTML
            <input type="radio" ng-model="myvalue" value="css">CSS
        </form>
        <div ng-switch="myvalue">
            <div ng-switch-when="javascript">
                <h3>You Selected javascript...</h3>
            </div>
            <div ng-switch-when="angular">
                <h3>You Selected Angular...</h3>
            </div>
            <div ng-switch-when="html">
                <h3>You Selected HTML...</h3>
            </div>
            <div ng-switch-when="css">
                <h3>You Selected CSS...</h3>
            </div>

        </div>

    </div>
    <hr>
    <div ng-app="drp-app" ng-controller="dropdown-ctrl">

        <form>
            <select ng-model="myvalue">
                <option value="" >Select City</option>
                <option value="surat">Surat</option>
                <option value="mumbai">Mumbai</option>
                <option value="goa">Goa</option>
                <option value="delhi">Delhi</option>
            </select>
        </form>

        <div ng-switch="myvalue">
            <div ng-switch-when="surat">
                <h3>You Selected {{myvalue}}</h3>
            </div>
            <div ng-switch-when="mumbai">
                <h3>You Selected {{myvalue}}</h3>
            </div>
            <div ng-switch-when="goa">
                <h3>You Selected {{myvalue}}</h3>
            </div>
            <div ng-switch-when="delhi">
                <h3>You Selected {{myvalue}}</h3>
            </div>
        </div>
    </div>
    <hr>

    <div ng-app="data_form" ng-controller="data_form_ctrl">
        UserName:
        <input type="text" ng-model="userval.firstname">
        LastName:
        <input type="text" ng-model="userval.lastname">
        <button ng-click="userfunc()">reset</button>
        <h3>userval{{userval}}</h3>
    </div>

    <div>

    </div>





</body>
</html>
<script src="angular.js"></script>
<script src="angulardemo.js"></script>
