<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  >

<div  ng-controller="sorted_data">
    <table  border="1" width="100%">
        <tr>
            <th ng-click="orderbydata('name')">Name</th>
            <th ng-click="orderbydata('country')">Country</th>
        </tr>
        <tr ng-repeat="y in arraylist | orderBy:getOrderlist">
            <td>{{y.name}}</td>
            <td>{{y.country}}</td>
        </tr>
    </table>
</div>

</body>
</html>
<script src="angular.js"></script>
<script src="main2.js"></script>
<!--
<script src="page1.js"></script>-->
