<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-app="radio_app" ng-controller="radio_ctrl">
    <form>
        <input type="radio" ng-model="myvalue" value="javascript">Javascript
        <input type="radio" ng-model="myvalue" value="angular">Angular
        <input type="radio" ng-model="myvalue" value="html">HTML
        <input type="radio" ng-model="myvalue" value="css">CSS
    </form>
    <div ng-switch="myvalue">
        <div ng-switch-when="javascript">
            <h3>You Selected javascript...</h3>
        </div>
        <div ng-switch-when="angular">
            <h3>You Selected Angular...</h3>
        </div>
        <div ng-switch-when="html">
            <h3>You Selected HTML...</h3>
        </div>
        <div ng-switch-when="css">
            <h3>You Selected CSS...</h3>
        </div>

    </div>

</div>

</body>
</html>
<script src="angular.js"></script>
<script src="main2.js"></script>

