<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body>
<div ng-app="drp-app" ng-controller="dropdown-ctrl">

    <form>
        <select ng-model="myvalue">
            <option value="" >Select City</option>
            <option value="surat">Surat</option>
            <option value="mumbai">Mumbai</option>
            <option value="goa">Goa</option>
            <option value="delhi">Delhi</option>
        </select>
    </form>

    <div ng-switch="myvalue">
        <div ng-switch-when="surat">
            <h3>You Selected {{myvalue}}</h3>
        </div>
        <div ng-switch-when="mumbai">
            <h3>You Selected {{myvalue}}</h3>
        </div>
        <div ng-switch-when="goa">
            <h3>You Selected {{myvalue}}</h3>
        </div>
        <div ng-switch-when="delhi">
            <h3>You Selected {{myvalue}}</h3>
        </div>
    </div>
</div>

</body>
</html>
<script src="angular.js"></script>
<script src="main2.js"></script>