<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Learn AngularJS - Order Form</title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />

		<!-- The main CSS file -->
		<link href="style.css" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	<!-- Declare a new AngularJS app and associate the controller -->
	<body ng-app ng-controller="OrderFormController">
		<form>
			<h1>Services</h1>
			<ul>
				<li ng-repeat="service in services" ng-click="toggleActive(service)" ng-class="{active:service.active}">
					{{service.name}} <span>{{service.price | currency}}</span>
				</li>
			</ul>
			<div class="total">
				Total: <span>{{total() | currency}}</span>
			</div>
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="script.js"></script>
	</body>
</html>
